<?xml version="1.0"?>

<launch>

  <!-- Permet de lacer la commande tutlebot_bringup minimal qui connecte le robot à l'ordi-->
  <include file="$(find turtlebot_bringup)/launch/minimal.launch" />

  <!--Paramètre le noeud "torob"-->
  <node pkg="qrmove" type="simplemove" name="move" output="screen">
      <param name="robot_radius" value="0.2"/>
      <param name="perception_distance" value="1.0"/>
      <param name="goal_frame_id" value="odom"/>
      <param name="init_goal_x" value="2.0" />
      <param name="init_goal_y" value="-0.5" />
      <param name="linear_speed" value="0.1" />
      <param name="angular_speed" value="1" />
      <param name="cmd_topic" value="/cmd_vel_mux/input/navi" />
      <param name="cmd_frame_id" value="base_link" />
  </node>

</launch>
